.logo-svg[data-v-4307fab4]{-webkit-mask:url(/frequi/assets/freqtrade-logo-mask-CLbwxeQA.png) no-repeat center;-webkit-mask-size:240px 240px;mask:url(/frequi/assets/freqtrade-logo-mask-CLbwxeQA.png) no-repeat center;mask-size:contain}
