name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
      - import-export-feat-v2
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # You need to specify the branch to checkout when running manually
          ref: 'import-export-feat'

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install pnpm
        run: npm install -g pnpm@latest-10

      - name: Install dependencies
        run: pnpm install

      - name: Build Vue app
        run: pnpm run build --base=/frequi

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages      # The branch the action should deploy to.
          folder: dist          # The folder that the build script outputs to.
